.input {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 10px 25px;
}

.input input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
}

.input .icon {
  margin-right: 15px;
}
